<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Student</title>
</head>
<body>
<h1>Add Student</h1>
<form th:action="@{/students}" th:object="${student}" method="post">
    Name: <input type="text" th:field="*{name}" /><br/>
    Age: <input type="number" th:field="*{age}" /><br/>
    Class: <input type="text" th:field="*{studentClass}" /><br/>
    Email: <input type="email" th:field="*{email}" /><br/>
    Address: <input type="text" th:field="*{address}" /><br/>
    <button type="submit">Save</button>
</form>
</body>
</html>
